DATABASE_URL="mysql://root:@localhost:3306/juanhr_v3"
JWT_ACCESS_SECRET="juanhr_access_secret_change_in_production_2025"
JWT_REFRESH_SECRET="juanhr_refresh_secret_change_in_production_2025"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
PORT=3001
FRONTEND_URL="http://localhost:3000"
UPLOAD_PATH="./uploads"
NODE_ENV="development"